<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Veda Treasury App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      To insert the about contents
    </p>
  </body>
</html>
