<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Veda Treasury App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      To insert the help contents
    </p>
  </body>
</html>
