<div class="center jumbotron">
  <% if session[:user_id].to_s != '' %>
    <script type="text/javascript">
      window.location.href="/tr_statements"  // put your correct path in a string here
      </script>
  <% else %>
    <h1>Welcome to Treasury Web App</h1>
    <br>
    <br>
    <h4>We aren’t always aware of where or why money is flowing beyond the transactions we are directly involved in,
       which prevents us from responding to systemic issues. To be economically and ecologically responsible for the
       system as a whole, we need financial transparency.
    </h4>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "login!", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>

</div>

<%= link_to image_tag("logos/rails.png", alt: "Rails logo"),
            "http://rubyonrails.org/", target: :_blank %>
