<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Veda treasury web app password reset for user <%= @user.username %></h1>
    <p>
      Hello <%= @user.username %>,
    </p>
    <p>
      Please insert the code <h1> <%= $reset_pass %> </h1> in this link: <%= @url %>
      and follow the instructions.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
