<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Veda Treasury Web App, <%= @user.nickname %></h1>
    <p>
      You have successfully signed up to treasury.ultroneous.org,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      Before you login, Treasury application admin needs to approve your
       username, please wait for confirmed email. For any questions,
       please contact a Veda member.
    </p>
    <p>
      Thanks for joining and have a great day!</p>
  </body>
</html>
