// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

}

#administration {
  #background-color: #FAFFFA;
}

#Rethinkdb {
  height: auto;
  width: 50%;
}

#reql_cmd {
  width:   25%;
  height: auto;
}

#reql_output {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 5px;
  padding: 0px;
  width: 80%;
}
