// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-shadow: 1px 1px blue;
  font-size: 20px;
}

p td {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
}
