// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FAFFFA;
}

// Style to change password
div.settings {
  width: 400px;
  border: 2px solid green;
  padding: 5px;
  margin: 15px;
}

input.settings {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px;
    margin-top: 0px;
}

#message p {
    padding: 3px 3px;
    font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "&#10006;";
}

// Style to currencies defaults
div.currencies_default {
  width: 400px;
  border: 2px solid green;
  padding: 5px;
  margin: 15px;
  display: flex;
  justify-content: center;
}

#CurDefTable {
  align-self: center;
}

#cur_def {
  width: 210px;
}


// Style to Details(Classifications) defaults
div.details_default {
  width: 400px;
  border: 2px solid green;
  padding: 5px;
  margin: 15px;
  display: flex;
  justify-content: center;
}

#DetailsDefTable {
  align-self: center;
}

#details_def {
  width: 210px;
}
