// Place all the styles related to the tr_statements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.CTR_form {
  display: inline;
  color: #D00;
  padding-left: 1px;
  float:auto;

}

#form_label {
  float:auto;
  margin: -13px 0px 0px 0px;

}


//CHANGE BOOTSTRAP DEFAULTS
#new_exch {
  background-color: #03C80D;
}

#new_exch:hover {
  background-color: #03870D;
}

.body_tr {
  background-color: #E6F1FF;
}

.body_exch {
  background-color: #DFFFCA;
}

//ADD NEW Category
#flip {
    padding: 0px;
    cursor:pointer;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 0px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
	  text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    padding: 0px;
    display: none;
    width: 80%;
}

/* Default dropbox values */
#default_atr{
  font-weight: bold;
  color: #CCFFFF;
  background: #003366;
}

/* CALL TRANSACTIONS */
#calltransactions {
  border:0px solid black;
  float:auto;
  margin: -100px 30px -50px 0px;
}

#TransactiosAndFilters {
  border:0px solid black;
  float:auto;
  margin: -60px 30px -50px 0px;
}

#transaction_coinbag, #transaction_currency, #transaction_user, #transaction_classification, #transaction_author {
  float:auto;
  margin: -1px 0px 0px 0px;
}

#separator {
  height: 40px;
}

/* BEGIN FILTERS */
#options {
  border:0px solid black;
}

#filterstable {
  border:1px solid grey;
  background-color: #fffff1;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
}

input.options {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  padding: 0px;
  height: 10px;
  width:10px;
  float:left;
  margin: 5px 30px 8px 10px;
}

.toolbar {
    float: right;
}

/* END FILTERS */
