// Place all the styles related to the tr_statements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.CTR_form {
  display: inline;
  color: #D00;
  padding-left: 1px;
}

//CHANGE BOOTSTRAP DEFAULTS
#new_exch {
  background-color: #03C80D;
}

#new_exch:hover {
  background-color: #03870D;
}

.body_tr {
  background-color: #E6F1FF;
}

.body_exch {
  background-color: #DFFFCA;
}
