<footer class="footer">
  <meta name="viewport" content="width=device-width, initial-scale=auto">
  <small>
    sample message
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><a href="http://ultroneous.org/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>
